<div class="row"  style="padding:10px;background-color:#252f41;">
    <div class="col-md-4">
        <h1 style="margin-left:50px;">
            <span style="color:white;font-family:'Comforter',serif;">User</span><span style="color:#BE4BDB;font-family:'Comforter',serif;font-weight:bold;"><i class="fas fa-user-shield" ></i>Track</span>
        </h1>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <a href = "{% url 'home' %}" class="btn btn-primary" 
        style="margin-right:10px;float:right;">Accounts</a>
        <a href = "{% url 'home' %}" class="btn btn-primary" 
        style="margin-right:10px;float:right;">Home</a>
    </div>
</div>